	body, html{
            font-family:Calibri, sans-serif;
            height:100%;
            margin:0;
        }
        header, section, article, footer{
            display:block;
        }
        *{
            outline:none;
        }
        li{
            list-style:none;
        }
        div#wrapper{
            width:1000px;
            height:100%;
            min-height:400px;
            margin:0 auto;
            position:relative;
        }
        header{
            background-color:#FF8A84;
            border:2px solid;
            border-radius:10px;
        }
        div#name{
            float:left;
        }
        div#name h1{
            padding:0 0 0 30px;
        }
        div#currentDate{
            position:relative;
            height:50px;
            width:300px;
            float:right;
            border:1px solid blue;
        }
        span#actualData{
            font-weight:bold;
            font-size:1.2em;
            display:block;
            margin:0 0 0 40px;
        }
        span#clock{
            position:absolute;
            left:210px;
            top:0;
            font-weight:bold;
            font-size:1.2em;
        }
        span#stateTask{
            border:1px solid red;
            display:block;
            margin:-4px 0 0 25px;
        }
        .popap{
            position:fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:black;
            opacity:.7;
            z-index:44;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        }
        div#popap{
            position:fixed;
            top:50%;
            left:50%;
            margin:-165px 0 0 -260px;
            display:none;
            z-index:55;
            width:520px;
            height:250px;
            background:#DFDFDF;
            border-radius:10px;
            border:1px solid;
            box-shadow:1px 1px 2px white,
                       -1px -1px 2px white;
        }
        span#close{
            position:absolute;
            top:-10px;
            left:500px;
            cursor:pointer;
        }
        div#popap h2{
            text-align:center;
        }
        div#popap form input[type='text']{
            width:400px;
            height:40px;
            margin:0 0 0 60px;
            color:silver;
            font-size:1.2em;
        }
        div#popap form p#btnP{
            margin:50px 0 0 0;
            text-align:center;
        }
        .btn2{
            border:1px solid #000000;
            border-radius:10px;
            padding:4px 24px;
            background-image:linear-gradient(white, silver);
            background-color:silver;
            cursor:pointer;
        }
        .btn2:hover{
            background-image:linear-gradient(silver, white);
            background-color:silver;
        }
        .btn2:active{
            box-shadow:1px 1px 3px inset;
        }
        .red{
            background:url(../images/redCircle.png) 0 75% no-repeat;
        }
        .green{
            background:url(../images/greenCircle.png) 0 75% no-repeat;
        }
        div#middleSection{
            margin:20px 0 0 0;
            height:74%;
        }
        div#middleSection section{
            float:left;
            border:2px solid black;
            border-radius:10px;
            background-color:#A8C6FA;
            min-height:100%;
        }
        section#leftMenu{
            width:200px;
        }
        section#leftMenu > ul{
            background-color:white;
            padding:10px 0;
            margin:0;
            border:solid;
            border-radius:5px;
        }
        section#leftMenu > ul > li{
            padding:3px 0 0 18px;
            background:url(../images/right_min.png) no-repeat 95% 50%;
        }
        section#leftMenu > ul > li:hover{
            background-color:silver;
            cursor:pointer;
        }
        #curMonth{
             left:200px;
             top:125px;
             display:none;
        }
        #curKvartal{
            left:200px;
            top:149px;
            display:none;
        }
        #curYear{
            width:90px;
            left:200px;
            top:173px;
            padding:3px 3px;
            display:none;
        }
        .activeMenu{
            position:absolute;
            border:1px solid red;
            border-radius:5px;
            padding:0;
            background-color:white;
            display:block !important;
        }
        .activeMenu li{
            padding:3px 10px;
        }
        .activeMenu li:hover{
            background-color:silver;
            cursor:pointer;
        }
        section#sectionCalendar{
            border:none !important;
            background-color:white !important;
            width:470px;
            margin:0 10px;
        }
        div#calendar{
            border:4px solid black;
            border-radius:5px;
        }
        .nowDate{
            background:silver;
        }
        .nowDate:hover{
            cursor:pointer;
        }
        .borderBottom{
            border-bottom:solid;
            background-color: #E6E6E6;
          }
        .out {
            background-color: black;
            color:white;
        }
        .day{
            background-color:white;
        }
        .nowDay{
            background-color:silver;
        }
        table {
            width:100%;
            height:300px;
            table-layout:fixed;
            border-collapse:collapse;
        }
        td, th {
            vertical-align:middle;
            padding:3px;
            text-align:center;
        }
        .btn{
            width:20px;
            height:20px;
            border:none;
            cursor:pointer;
            padding:0 3px 0 0;
        }
        .left{
            background:url('../images/left.png') no-repeat;
        }
        .right{
            background:url('../images/right.png') no-repeat;
        }
        div#calendar table td.day:hover{
            background-color:silver;
            cursor:pointer;
        }
        .weekDays{
            background-color:#AFF0D9;
        }
        section#task{
            width:302px;
            position:relative;
        }
        #task > ul{
            margin:2px 0 0 0;
            padding:0 0 0 10px;
        }
        #task > ul li{
            position:absolute;
            padding:5px 10px;
            background:url(../images/tab.png) no-repeat;
            z-index:2;
        }
        #task > ul li#last{
            background:url(../images/minTab.png) no-repeat;
            left:140px;
            z-index:1;
        }
        li.zIndex{
            z-index:10 !important;
        }
        #task > ul li a{
            text-decoration:none;
            color:black;
            font-size:15px;
        }
        #task div{
            position:absolute;
            top:29px;
            left:5px;
            border:2px solid;
            width:95%;
            z-index: 9;
            height:89%;
            background:#DFDFDF;
            visibility:hidden;
        }
        #task > div{
            overflow:auto;
        }
        ol#firstTab li{
            list-style:decimal;
        }
        ol#secondTab li{
            list-style:decimal;
        }
        .elemRight{
            float:right;
            margin:0 10px 0 0;
        }
        .btn3{
            height:18px;
            padding:0 3px 10px 3px;
            font-size:12px;
            border:1px solid;
            border-radius:5px;
            background-color:white;
        }
        .btn3:hover{
            cursor:pointer;
            background:silver;
            background:linear-gradient(white,silver);
        }
        .btn3:active{
            box-shadow:1px 1px 3px inset;
        }
        @-moz-document url-prefix()
            {
            #task div {top:31px;}
            }
        .active{
            visibility:visible !important;
        }
        footer{
            height:55px;
            background-color:#444444;
            border:2px solid;
            border-radius:10px;
            margin-top:10px;
        }
        footer p{
            color:white;
            text-align:center;
        }
        div.clear{
            clear:both;
        }