header div#name{
	padding:17px 0 0 0;
}
footer p{
	padding:17px 0;
}
#curMonth{
    left:161px;
    top:115px;
    display:none;
}
#curKvartal{
    left:161px;
    top:137px;
    display:none;
}
#curYear{
    width:90px;
    left:201px;
    top:160px;
    padding:3px 3px;
    display:none;
}